<div id="settings-view">
  <% if notice %>
    <div id="notice"><p><%= notice %></p></div>
  <% end %>
  <% if alert %>
    <div id="alert"><p><%= alert %></p></div>
  <% end %>
  <h1>Settings</h1>
  <%= render "shared/separator" %>
  <h2>User details</h2>
  <%= render "user_details_form" %>
  <%= render "shared/separator" %>
  <h2 id="keys-section-title">Keys</h2>
  <div id="new-key-button-container">
    <%= link_to 'New Key', new_key_path, id: "new-key-button" %>
  </div>
  <table>
    <tr>
      <th class="key-name">Name</th><th>Body</th><th></th>
    </tr>
    <% if @keys.length > 0 %>
    <% @keys.each do |key| %>
    <tr>
      <td class="key-name"><%= link_to "#{key.name}", edit_key_path(key) %></td>
      <td class="key-body"><%= key.body %></td>
      <td><%= link_to 'Delete', key, confirm: 'Are you sure you want to delete this key?', method: :delete, class: "delete-button" %></td>
    </tr>
    <% end %>
    <% else %>
    <tr>
      <td colspan="2" class="table-message">
        You have to add an SSH key before you can access any repositories
      </td>
    </tr>
    <% end %>
  </table>
</div>
